.brand {
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.brand__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #252b42;
  margin-bottom: 20px;
}

.brand__list {
  padding: 0 30px 0 30px;
  overflow-y: auto;
  margin: 0;
  height: 120px;
}

.brand__list::-webkit-scrollbar {
  width: 5px;
}

.brand__list::-webkit-scrollbar-thumb {
  background-color: #252b42;
  height: 10px;
  border-radius: 5px;
}

.brand__wrapper {
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;

  display: flex;
  justify-content: space-between;

  text-align: start;
}

.brand__option {
  display: none;
}

.brand__label {
  text-transform: capitalize;
  padding-left: 15px;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 16px;

  &:hover {
    color: #2091f9;
  }
}

.brand__label:has(.brand__option:not(:checked)) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    left: -29px;
  }
}

.brand__label:has(.brand__option:checked) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid #2091f9;
    border-radius: 5px;
    background-color: #2091f9;
    left: -29px;
  }

  &::after {
    content: '';
    position: absolute;
    color: white;
    width: 12px;
    height: 4px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    transform: rotate(-45deg);
    top: 8px;
    left: -23px;
  }
}
