.price {
  text-align: center;
}

.price__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  column-gap: 16px;
}

.price__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 5px;
  outline: none;
  line-height: 16px;
  text-align: center;
  font-family: 'Roboto';
  padding: 0;
}

.price__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #252b42;
  // margin-bottom: 20px;
  // margin-top: 20px;
}
