.product__container {
  padding: 36px 0 36px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  position: relative;
}

.product__loader-img {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 850px) {
  .product__container {
    display: flex;
    flex-direction: column;
  }
}
