.navigation {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.navigation__link {
  text-decoration: none;
  color: black;
}

.navigation__item:not(:last-child) {
  margin-right: 24px;
}

@media (max-width: 800px) {
  .navigation {
    display: none;
  }
}
