.shop__container {
  display: flex;
  gap: 20px;
}

.shop__filters-mobile-button {
  display: none;
  width: 32px;
  height: 32px;
  background-color: #f0f0f0;
  border-radius: 50%;
  border: none;
}

.shop__overlay.active {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(40, 185, 233, 0.5);
}

.shop__cardfield-wrapper {
  width: 100%;
  padding-bottom: 20px;
  position: relative;
}

.shop__cardfield-load-btn {
  height: 47px;
  width: 30%;
  background-color: black;
  border: none;
  border-radius: 62px;
  color: white;
  display: block;
  margin: 0 auto;

  &:hover {
    background-color: rgb(49, 48, 48);
  }
}

.shop__cardfield-load-btn.inactive {
  .inactive {
    background-color: red;
  }
}

@media (max-width: 800px) {
  .shop__filters-mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    align-self: flex-end;
  }
  .shop__container {
    flex-direction: column;
  }
}
