.product__img-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.product__img-item {
  overflow: hidden;
}

.product__img-pic {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.product__img-pic-btn {
  background: none;
  border: none;
}

.product__img-main-container {
  overflow: hidden;
  margin-bottom: 20px;
}

.product__img-main {
  display: flex;
  border-radius: 20px;
  width: 100%;
}

@media (max-width: 850px) {
  .product__img-main {
    width: 100%;
  }

  .product__img-pic {
    width: 100%;
  }
}
