.header {
  position: sticky;
  top: 0;
  background-color: grey;
}

.header__container {
  display: flex;
  column-gap: 24px;
  align-items: center;
  color: black;
  padding: 24px 0 24px 0;
}

.header__buttons {
  display: flex;
  column-gap: 14px;
  align-items: center;
}

.header__login,
.header__cart {
  background: none;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.header__logo-link {
  display: flex;
  align-items: center;
}

@media (max-width: 694px) {
  .header__logo-link {
    margin-right: auto;
  }

  .header__logo {
    width: 126px;
  }
}

@media (max-width: 420px) {
  .header__container {
    // column-gap: 0;
  }
}
