.summary {
  border: 1px solid #9a9a9a;
  border-radius: 20px;
  padding: 20px 24px;
  height: fit-content;
}

.summary__heading {
  margin-top: 0;
}

.summary__subtotal,
.summary__delivery,
.summary__total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.summary__subtotal-data,
.summary__delivery-data,
.summary__total-data {
  width: 50%;
}

.summary__subtotal-data,
.summary__delivery-data,
.summary__total-data {
  border: none;
  text-align: end;
  &:focus {
    outline: none;
  }
}

.summary__submit {
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 62px;
  border: none;
  width: 100%;
}

.summary__input-wrapper {
  display: flex;
  gap: 20px;
}

.summary__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid grey;
  border-radius: 62px;
  padding-left: 14px;
  margin-bottom: 20px;
}

.summary__input-name-wrapper {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.summary__input-name {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid grey;
  border-radius: 62px;
  padding-left: 14px;
}

.summary__input-phone-wrapper {
  width: 100%;
  position: relative;
}

.summary__input-email {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid grey;
  border-radius: 62px;
  padding-left: 14px;
  margin-bottom: 30px;
}

.summary__input-email-wrapper {
  margin-bottom: 20px;
  position: relative;
}

.summary__name-msg {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
}

.summary__name-msg.active {
  display: none;
  color: red;
  display: inline;
  padding-left: 15px;
}

.summary__email-msg {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
}

.summary__email-msg.active {
  color: red;
  display: inline;
  padding-left: 15px;
}

.summary__phone-msg {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
}

.summary__phone-msg.active {
  color: red;
  display: inline;
  padding-left: 15px;
}

@media (max-width: 800px) {
  .summary {
    padding: 22px 14px;
  }
  .summary__submit {
    width: 200px;
    margin: 0 auto;
    display: block;
  }
  .summary__input-wrapper {
    gap: 10px;
  }
}
