.footer {
  background-color: #f0f0f0;
  padding: 20px 0 20px 0;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__payment {
  list-style: none;
  display: flex;
  column-gap: 12px;
}

.footer__payment-item {
  width: 46px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #d6dce5;

  &:nth-child(1) {
    background: no-repeat center center url('./../../assets/visa.svg');
    background-color: white;
  }

  &:nth-child(2) {
    background: no-repeat center center url('./../../assets/mastercard.svg');
    background-color: white;
  }

  &:nth-child(3) {
    background: no-repeat center center url('./../../assets/paypal.svg');
    background-color: white;
  }

  &:nth-child(4) {
    background: no-repeat center center url('./../../assets/applepay.svg');
    background-color: white;
  }

  &:nth-child(5) {
    background: no-repeat center center url('./../../assets/gpay.svg');
    background-color: white;
  }
}

@media (max-width: 760px) {
  .footer__payment {
    display: none;
  }
}
