@import './commonStyles/normalize';
@import './commonStyles/global';

.app,
.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
